# Cargadores y limpieza de datos con PHP

Utilizamos PHP con PostrgreSQL:
https://www.php.net/manual/es/ref.pgsql.php

## Como se hace?

1. Carga de datos: Leer los datos del xslx y cargalos a la base de datos en código PHP.
2. Inserción en tablas: desde el código de PHP deemos realizar INSERTS en las tablas de SQL.
3. Correción de datos: A partir de las violacios de IC optar por 3 opciones de correción.

## COnexión a la base de datos

```php
<?php
// Inicializar la conexión
$host = 'localhost';
$port = '5432';
$dbname = 'database';
$user = 'user';
$password = 'password';

// Conexión a la base de datos
$conn = pg_connect("host=$host port=$port dbname=$dbname user=$user password=$password");

// Verificar la conexión
if (!$conn) {
    die("Error en la conexión: " . pg_last_error());
}
?>
```

Creamos las tablas y comprobamos que se creen correctamente

```php
<?php
$sql = "CREATE TABLE IF NOT EXISTS users (
    id SERIAL PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    email VARCHAR(100) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)";

// Ejecutar la query
$result = pg_query($conn, $sql);

// Verificar si se creó la tabla
if ($result) {
    echo "Tabla creada correctamente\n";
} else {
    echo "Error al crear la tabla: " . pg_last_error($conn) . '\n';
}
?>
```

Insertamos los valores a la tabla y comprobamos su insercción:

```php
<?php
// Insertar un valor a la tabla users
$insert_sql = "INSERT INTO users (username, email) VALUES ('testuser',
'testuser@example.com')";
$insert_result = pg_query($conn, $insert_sql);

// Se comprueba si la inserción fue exitosa
if ($insert_result) {
    echo "Valor insertado correctamente\n";
} else {
    echo "Error al insertar el valor: " . pg_last_error($conn) . '\n';
}

// Cerrar la conexión
pg_close($conn);
?>
```

## Correción de datos

1. Correccion de formato:

Ejemplos de dato que no cumplen el formato:
* Datos que representan lo mismo pero en difernete forma: Doctor y Doctora. **Solución**: Estandarizar estos datos.
* Datos que no representan lo pedido: "Jornada" en columna Dedicación que indicaba horas laborales. **Solución**: Cambiar el valor a "Tiempo completo" o "Medio tiempo".
* Datos con errores menores de formato.Son faicles y rapidos de solucionar:Mails contienian un espacio, Ej: "MOREIRA .ZARATE @llimail.kom"

2. Asignación de nulo: